<!DOCTYPE html>
<html>

<head>
    <title>Subject</title>
</head>

<body>
    <div id="main-table">
        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Subject</th>
                <th colspan="2">Action</th>
            </tr>
            <% dataRow.forEach(function(row){%>
                <tr>
                    <td>
                        <%=row.id %>
                    </td>
                    <td>
                        <%=row.first_name %>
                    </td>
                    <td>
                        <%=row.last_name %>
                    </td>
                    <td>
                        <%=row.email %>
                    </td>
                    <td>
                        <%=row.gender %>
                    </td>
                    <td>
                            <%=row.subject %>
                    </td>
                    <td>
                        <a href="/teachers/update/<%=row.id%>">Edit</a>
                    </td>
                    <td><a href="/teachers/delete/<%=row.id%>">Delete</a></td>
                </tr>
                <%})%>
        </table>

        
    </div>



</body>

</html>