<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
</style>
  <title>INDEX LIST</title>
</head>
<body>

  <div>

    <table>

    <tr>
      <th>ID</th>
      <th>SUBJECT NAME</th>
      <th>SUBJECT CODE</th>
      <th></th>
      <th></th>
    </tr>

      <% for(let dataSubj=0; dataSubj<dataJsonSubject.length; dataSubj++){ %>
        <tr>
          <td><%= dataJsonSubject[dataSubj].id%></td>
          <td><%= dataJsonSubject[dataSubj].subject_name%></td>
          <td><%= dataJsonSubject[dataSubj].subject_code%></td>
          <td><a style="text-decoration: none;" href='/update/<%= dataJsonSubject[dataSubj].id %>'>Update</a></td>
          <td><a style="text-decoration: none;" href='/delete/<%= dataJsonSubject[dataSubj].id %>'>Delete</a></td>
        </tr>
      <%}%>


  </table>

  </div>

  <div style='margin-top:30px;'>

    <form action="/" method="post">
      Subject Name:<br>
      <input type="text" name="subjectName" value="">
      <br>
      Subject Code:<br>
      <input type="text" name="subjectCode" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>

  </div>

</body>
</html>
