<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td>first name</td>
        <td>last_name</td>
        <td>email</td>
        <td>gender</td>
        <td>action</td>
      </tr>
      <%for(var student of students){%>
        <tr>
          <td><%=student.first_name%></td>
          <td><%=student.last_name%></td>
          <td><%=student.email%></td>
          <td><%=student.gender%></td>
          <td><a href="/student/subject-assigned/<%=student.id%>">subject ASSIGNED</a>|<a href="/student/edit/<%=student.id%>">edit</a>|<a href="/student/delete/<%=student.id%>">delete</a></td>
        </tr>
      <%}%>
    </table>


    <form action="/student" method="post">
      first_name :
      <input type="text" name="first_name">
      last_name :
      <input type="text" name="last_name" value="">
      email :
      <input type="text" name="email" value="">
      gender :
      <select  name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <input type="submit">
    </form>
  </body>
</html>
