<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Students</h1>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>GENDER</th>
            <th>LOOK SUBJECT</th>
            <th>ACTION</th>
        </thead>
        <%student.forEach(row=>{%>
        <tbody>
            <td><%=row.id%></td>
            <td><%=row.first_name%></td>
            <td><%=row.last_name%></td>
            <td><%=row.gender%></td>
            <td><a href="/student/subjects/:<%=row.id%>">Look Subjects</a></td>
            <td>
                <a href="/student/edit/:<%=row.id%>">EDIT</a> ||
                <a href="/student/delete/:<%=row.id%>">DELETE</a>
            </td>
        </tbody>
        <%})%>
    </table>
    <form action="student" method="post">
        <p>
            <input type="text" name="first_name" placeholder="FIRST NAME">
        </p>
        <p>
            <input type="text" name="last_name" placeholder="LAST NAME">
        </p>
        <p>
            <select type="text" name="gender">
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
        </p>
        <p>
            <input type="submit" value="SUBMIT">
        </p>
    </form>
</body>
</html>