<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Data</title>
  </head>
  <body>
    <table border='5'>
      <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Gender</td>
        <td colspan='2'>Action</td>
      </tr>
      <%
        for(var i = 0;i<dataRows.length;i++) {
          %>
          <tr>
            <td><%= dataRows[i].id %></td>
            <td><%= dataRows[i].first_name %></td>
            <td><%= dataRows[i].last_name %></td>
            <td><%= dataRows[i].email %></td>
            <td><%= dataRows[i].gender %></td>
            <td><a href="/update/<%= dataRows[i].id %>">Edit</a></td>
            <td><a href="/delete/<%= dataRows[i].id %>">Delete</a></td>
          </tr>
          <%
        }
      %>
    </table>
  </body>
</html>
