<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td>id</td>
        <td>subject_name</td>
        <td>subject_code</td>
        <td>action</td>
      </tr>
      <%for(var subject of subjects){%>
        <td><%=subject.id%></td>
        <td><%=subject.subject_name%></td>
        <td><%=subject.subject_code%></td>
        <td><a href="/subject/add-student/<%=subject.id%>">add student</a>|<a href="/subject/edit/<%=subject.id%>">edit</a>|<a href="/subject/delete/<%=subject.id%>">delete</a></td>
      <%}%>
    </table>


    <form action="/subject" method="post">
      subject_name :
      <input type="text" name="subject_name">
      subject_code :
      <input type="text" name="subject_code" value="">

      <input type="submit">
    </form>
  </body>
</html>
