<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>

	<h3>Welcome, ? (Subjects Teacher)</h3>

	<table border="1" cellpadding="5">
		<thead>
			<th>No</th>
			<th>Subject Name</th>
			<th>Subject Code</th>
		</thead>
		<% let j = 1
			for(let i = 0; i < dataSub.length; i++){ %>
			<tbody>
				<td><%= j %></td>
				<td><%= dataSub[i].subject_name %></td>
				<td><%= dataSub[i].subject_code %></td>
			</tbody>
		<% j++ } %>
	</table>

	<form action="/subjects/teacher/<%= dataSubId[0].id %>" method="post" style="margin-top: 20px">
		<table>
			<tr>
				<td>Subject Name: </td>
				<td>
					<input type="text" name="sn" value="<%= dataSubId[0].subject_name %>">
				</td>
			</tr>
			<tr>
				<td>Subject Code: </td>
				<td>
					<input type="text" name="sc" value="<%= dataSubId[0].subject_code %>">
				</td>
			</tr>
			<tr>
				<td>Teacher Name: </td>
				<td>
					<select name="teacherName">
						<option value=""> - choose - </option>
						<% for(let i = 0; i < dataTea.length; i++){ %>
							<option value="<%= dataTea[i].id %>"><%= dataTea[i].first_name %></option>
						<% } %>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Save">
				</td>
			</tr>
		</table>
	</form>

	<br>

	<a href="/"> << back to home </a>
	
</body>
</html>