<!DOCTYPE html>
<html>

<head>
    <title>Subject</title>
</head>

<body>
    <div id="main-table">
        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Subject Name</th>
                <th>Subject Code</th>
                <th colspan="2">Action</th>
            </tr>
            <% dataRow.forEach(function(row){%>
                <tr>
                    <td>
                        <%=row.id %>
                    </td>
                    <td>
                        <%=row.subject %>
                    </td>
                    <td>
                        <%=row.subject_code %>
                    </td>
                    <td>
                        <a href="/subjects/update/<%=row.id%>">Edit</a>
                    </td>
                    <td><a href="/subjects/delete/<%=row.id%>">Delete</a></td>
                    <td>
                        <a href="/subjects/teachers/<%=row.id%>">Assign Teacher</a>
                    </td>
                </tr>
                <%})%>
        </table>
    </div>



</body>

</html>