<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>

	<h3>Welcome, ? (Teachers)</h3>

	<form action="/teachers/edit/<%= data.id %>" method="post" style="margin-top:20px">
		<table>
			<tr>
				<td>First Name: </td>
				<td>
					<input type="text" name="fn" value="<%= data.first_name %>">
				</td>
			</tr>
			<tr>
				<td>Last Name: </td>
				<td>
					<input type="text" name="ln" value="<%= data.last_name %>">
				</td>
			</tr>
			<tr>
				<td>Email: </td>
				<td>
					<input type="email" name="email" value="<%= data.email %>">
				</td>
			</tr>
			<tr>
				<td>Gender: </td>
				<td>
					<select name="gender">
						<option value=""> - choose - </option>
						<% let selected = 'selected'
							if(data.gender === 'male'){ %>
							<option <%= selected %> value="male">Male</option>
							<option value="female">Female</option>
						<% } %>
						<% if(data.gender === 'female'){ %>
							<option <%= selected %> value="female">Female</option>
							<option value="male">Male</option>
						<% } %>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Save">
				</td>
			</tr>
		</table>
	</form>

	<br>

	<a href="/teachers"> << back to teachers </a>
	
</body>
</html>