<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border="2px">
      <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>action</th>
      </thead>
      <tbody>
        <%dataTeacher.forEach(data=>{%>
        <tr>
            <td><%=data.id%></td>
            <td><%=data.first_name%></td>
            <td><%=data.last_name%></td>
            <td><%=data.email%></td>
            <td><%=data.gender%></td>
            <td><a href="/add">Tambah Teacher</a>
              <a href="/add">Edit Teacher</a>
              <a href="/add">Delete Teacher</a>
            </td>

        </tr>
        <%})%>
      </tbody>
    </table>

  </body>
</html>
