<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pages Teachers</title>
  </head>
  <body>
  <a href="/subjects">List Subjects</a>
  <a href="/teachers">Teachers</a>
  <table border='1px'>
    <h1>Daftar List Teachers</h1>
    <a href="/teachers/add">Add
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Subject</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
      <%dataTeachers.forEach(row=>{ %>
        <tr>
          <td><%= row.id%></td>
          <td><%= row.first_name%></td>
          <td><%= row.last_name%></td>
          <td><%= row.email%></td>
          <td><%= row.gender%></td>
          <td><%= row.name%></td>
          <td><a href="/teachers/edit/<%= row.id%>">Edit</td>
          <td><a href="/teachers/delete/<%= row.id%>">Delete</td>
        </tr>
      <%})%>
    </tbody>
  </table>
  </body>
</html>
