<!DOCTYPE html>
<html>
<head>
<title>Teacher</title>
</head>
<body>

<table style="width:30%", border=1>
  <tr>

    <th>Id</th>
    <th>First Name</th> 
    <th>Last Name</th>
    <th>Email</th> 
    <th>Gender</th>
  </tr>
  <!-- <% dataTeacher.forEach((element)=>{ %> -->
  <% for(var i = 0; i < dataTeacher.length; i++){%>
  <tr>
    <td><%=dataTeacher[i].id%></td>
    <td><%=dataTeacher[i].first_name%></td>
    <td><%=dataTeacher[i].last_name%></td>
    <td><%=dataTeacher[i].email%></td>
    <td><%=dataTeacher[i].gender%></td>
  </tr>
  <%}%>
  <!-- <%})%> -->
</table>

</body>
</html>