<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ORM Mini</title>
  <style>
    body {
      font-family: sans-serif;
    }
    a {
      color: blue;
    }
  </style>
</head>
<body>

  <h1>ORM Mini</h1>
  <p>
    <a href="/students/list">Students</a>&nbsp;
    <a href="/subjects/list">Subjects</a>
  </p>

  <hr>

  <a href="/students/add">Add a Student</a>

  <br>
  <br>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <% students.forEach((student) => { %>

          <tr>
            <td><%= student.id %></td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.email %></td>
            <td><%= student.gender %></td>
            <td>

              <a href="/students/update/<%= student.id %>">Update</a>&nbsp;
              <a href="/students/delete/<%= student.id %>">Delete</a>

            </td>
          </tr>

      <% }) %>

    </tbody>
  </table>

</body>
</html>
