<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>

            <h2>Loop</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>gender</th>
                </tr>
                <% temp.forEach((temps) =>{%>
                <tr>
                    <td><%= temps.id%></td>
                    <td><%= temps.firs_name%></td>
                    <td><%= temps.last_name%></td>
                    <td><%= temps.email%></td>
                    <td><%= temps.gender%></td>
                    <td>
                        <a href="/editStudent/<%= temps.id%>">Edit</a>
                        <a href="/deleteStudent/<%= temps.id%>">Delete</a>    
                    </td>
                </tr>
                <%})%>
            </table>
        </div>
        <div>
            <form action="/newStudent" method="POST">
                <input type="text" placeholder="First Name" name="first_name">
                <input type="text" placeholder="last name Name" name="last_name">
                <input type="text" placeholder="Email" name="email">
                <input type="text" placeholder="Gender" name="gender"> 
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>