<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ini Adalah Halaman Edit Teacher</h1>
  </body>
  <form class="" action="/teachers/edit/<%= dataTeacher.id %>" method="post">
    <input type="text" name="first_name" value="<%= dataTeacher.first_name %>" required>
    <input type="text" name="last_name" value="<%= dataTeacher.last_name %>" required>
    <input type="text" name="email" value="<%= dataTeacher.email %>" required>
    <select class="" name="gender" required>
      <option value="pria">Pria</option>
      <option value="wanita">Wanita</option>
    </select>
    <input type="text" name="id_subject" value="<%= dataTeacher.id_subject %>" required>
    <input type="submit" value="SUBMIT">
  </form>
</html>
